<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

    <!-- Enables the Spring MVC @Controller programming model -->
    <context:annotation-config/>
    <mvc:annotation-driven />

    <context:component-scan base-package="ngdemo" >
    </context:component-scan>

    <!-- Handles HTTP GET requests for /resources/** by efficiently serving up static resources in the ${webappRoot}/resources directory -->
    <!--<resources mapping="/resources/**"  location="/resources/" />-->
    <mvc:default-servlet-handler/>
    <mvc:resources mapping="/app/**" location="/app/" />
    <!--<mvc:resources mapping="/app/bower_components/bootstrap/dist/**" location="/app/bower_components/bootstrap/dist/" />-->

    <!--<context:component-scan base-package=""  />-->
    <!--To enable @RequestMapping process on type level and method level-->

    <!-- Services ================================================================================================= -->

    <bean id="subscriptionService" class="ngdemo.service.impl.SubscriptionServiceImpl" scope="singleton"/>

    <bean id="journalService" class="ngdemo.service.impl.JournalServiceImpl" scope="singleton">
        <constructor-arg ref="journalDAO" />
    </bean>

    <bean id="dummyService" class="ngdemo.service.impl.DummyServiceImpl" scope="singleton">
        <constructor-arg ref="dummyRepository"/>
    </bean>

    <bean id="userService" class="ngdemo.service.impl.UserServiceImpl"  scope="singleton">
        <constructor-arg ref="userDAO"/>
    </bean>


    <!-- Resolvers  ================================================================== -->
    <!-- Configure bean to convert JSON to POJO and vice versa  -->
    <!--<bean id="jsonMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>-->
    <bean id="jsonMessageConverter" class="ngdemo.infrastructure.json.CustomGsonHttpMessageConverter"/>
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">

        <!-- one of the properties available; the maximum newFile size in bytes -->
        <!--<property name="maxUploadSize" value="100000"/>-->
    </bean>

    <!-- Resolves views selected for rendering by @Controllers to .jsp resources in the /WEB-INF/views directory
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <beans:property email="prefix" value="/WEB-INF/spring/views/" />
        <beans:property email="suffix" value=".jsp" />
    </bean>
    -->

    <!-- Configure to plugin JSON as request and response in method handler -->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="jsonMessageConverter"/>
            </list>
        </property>
    </bean>


</beans>