<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-security-samples-boot-helloworld:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_security_samples_boot_helloworld_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-security-samples-boot-helloworld/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-security-samples-boot-helloworld" />
        </element>
      </element>
    </root>
  </artifact>
</component>